
##### Задание 1 
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные: 
[1, 1, 1, 2, 2, 3, 3], 
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [444]:

import pandas as pd

In [445]:
authors = {
    'author_id': [1,2,3],
    'author_name': ['Тургенев', 'Чехов', 'Островский']
}

book = {
    'author_id': [1, 1, 1, 2, 2, 3, 3],
    'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 
    'price': [450, 300, 350, 500, 450, 370, 290]
}
authors = pd.DataFrame(authors)
book = pd.DataFrame(book)
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский


##### Задание 2
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [446]:
authors_price = pd.merge(authors,book, on='author_id', how='outer')
authors_price.set_index('author_id',inplace=True)
authors_price

          author_name            book_title  price
author_id
1            Тургенев           Отцы и дети    450
1            Тургенев                 Рудин    300
1            Тургенев     Дворянское гнездо    350
2               Чехов      Толстый и тонкий    500
2               Чехов       Дама с собачкой    450
3          Островский                 Гроза    370
3          Островский  Таланты и поклонники    290


##### Задание 3 
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [447]:
top5 = authors_price.copy()
top5 = authors_price.nlargest(5,'price')
top5

          author_name         book_title  price
author_id
2               Чехов   Толстый и тонкий    500
1            Тургенев        Отцы и дети    450
2               Чехов    Дама с собачкой    450
3          Островский              Гроза    370
1            Тургенев  Дворянское гнездо    350

##### Задание 4
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора,минимальная, максимальная и средняя цена на книги этого автора

In [448]:

authors_stat = authors_price.copy()
authors_stat = authors_stat.groupby("author_name")

y = authors_stat['price'].min()
authors_stat_min = pd.DataFrame(y)
authors_stat_min.columns = ['min_price']


y = authors_stat['price'].max()
authors_stat_max = pd.DataFrame(y)
authors_stat_max.columns = ['max_price']


y = authors_stat['price'].mean()
authors_stat_mean = pd.DataFrame(y)
authors_stat_mean.columns = ['mean_price']
authors_stat_mean['mean_price'] = round(authors_stat_mean['mean_price'],2)


x = pd.merge(authors_stat_min,authors_stat_max, on='author_name', how='inner')
authors_stat = x = pd.merge(x,authors_stat_mean, on='author_name', how='inner')
authors_stat

             min_price  max_price  mean_price
author_name
Островский         290        370      330.00
Тургенев           300        450      366.67
Чехов              450        500      475.00